<h1 data-user data-user-id="{{id}}">{{name}}</h1>

<a href="/players">Back to player list</a>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    
        {{#each session}}
        <div class="panel panel-default custom-panel" sessionId={{sessionId}} data-session>
            <div class="panel-heading" role="tab" id="heading{{sessionId}}">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{sessionId}}" aria-expanded="false" aria-controls="collapse{{sessionId}}">
                        <p>
                            <strong>{{game.name}}</strong> | {{createdAt}} |  <strong>Score:</strong> {{score}}
                        </p>
                    </a>
                </h4>
            </div>
            <div id="collapse{{sessionId}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{sessionId}}">
                <div class="panel-body" sessionId="{{sessionId}}" data-dropdown>
                    
                </div>

            </div>

        </div>
        {{/each}}
    
</div>
